.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 3rem;
    background-color: var(--primary-dark);
}
.container h1 {
    font-size: 10rem;
    font-weight: bolder;
}

.containerImg img{
    height: auto;
    width: 100%;
    max-width: 20rem;
    border-radius: 50%;
}