.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cinza);
}

.prodInfo {
    background-color: var(--primary-dark);
    padding: 1rem;
    border-radius: 0.75rem;
    margin-top: 1rem;
    border: ridge 1px var(--border-dark);
    color: var(--primary-contrast-light);
}