
.main {
    grid-area: main;
    background-color: var(--primary-dark);
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}

.grid {
  padding: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fit, min-content);
}

.card {
  height: auto;
  background-color: var(--primary-dark);
  color: var(--primary-light);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  text-align: center;
  border: solid 1rem var(--primary-light);
  margin: 4rem;
}

.grid {
  padding: 3rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: repeat(auto-fit, min-content);
}

.header2 {
  grid-area: header2;
  background-color: var(--primary);
}

.aside {
  grid-area: aside;
  background-color: var(--primary-red-light);

  @media (max-width: 1200px) {
    display: none;
  }
}
