.grid {
  padding: 10rem;
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-template-rows: repeat(auto-fit, min-content);
}

.card {
  
  height: 25rem;
  background-color: var(--primary-dark);
  color: var(--primary-contrast-light);
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  text-align: center;
}

.container {
  display: grid;

  grid-template-areas:
    "header1"
    "main"
    "footer"
    ;

  grid-template-columns: 1fr ;
  grid-template-rows: 20rem auto 10rem;

  @media (max-width: 1800px) {
    grid-template-areas:
      "header1"
      "main"
      "footer";

    grid-template-columns: 1fr;
  }
}

.header1 {
  grid-area: header1;
  background-color: rgb(18, 10, 73);
}





.footer {
  grid-area: footer;
  background-color: darkslateblue;
}
